# Logs
logs/
*.log

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env
*.env

# MacOS specific
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# IDE specific
.vscode/
.idea/
